<nav>
    <h2>Nima uchun “Abu-tech”da o'qish kerak?</h2>
    <div class="container">
        <div class="card">
            <i class="fas fa-laptop-house"></i>
            <h4>Bepul kovorking</h4>
            <p>24/7 formatida tun-u kun ishlaydigan bepul kovorking va wifi.</p>
        </div>
        <div class="card">
            <i class="fas fa-chalkboard-teacher"></i>
            <h4>Sifatli ta'lim</h4>
            <p>Doimiy yangilanib boradigan kurslar va katta tajribaga ega ustozlar.</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <i class="fas fa-trophy"></i>
            <h4>Doimiy musobaqalar</h4>
            <p>Dasturlash, dizayn va marketing sohalari bo‘yicha haftalik sovrinli musobaqalar.</p>
        </div>
        <div class="card">
            <i class="fas fa-microphone-alt"></i>
            <h4>Bepul mahorat darslari</h4>
            <p>Soha mutaxassislari bilan doimiy o‘tkaziladigan bepul master-klasslar.</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <i class="fas fa-briefcase"></i>
            <h4>Ish taklif qilish kafolati</h4>
            <p>“Najot Ta'lim” intensiv kurslarni muvaffaqiyatli bitirgan o‘quvchilarga ish taklif qilish kafolatini beradi.</p>
        </div>
        <div class="card">
            <i class="fas fa-award"></i>
            <h4>Sertifikat</h4>
            <p>Kursni muvaffaqiyatli tamomlagan o‘quvchilar “Najot Ta'lim”ning diplomi va sertifikatiga ega bo‘ladi.</p>
        </div>
    </div>
</nav>
