<div class="all-container">
    <h1>Bizning Darslardan Lavhalar</h1>
    <div class="wiper">
        <div class="wiper-wrapper">
            <div class="wiper-item">
                <img
                class="wiper__image"
                src="images/picture1.png"
                alt="background-image"
                />
            </div>
            <div class="wiper-item active-swipe">
                <img
                class="wiper__image"
                src="images/picture2.png"
                alt="background-image"
                />
            </div>
            <div class="wiper-item">
                <img
                class="wiper__image"
                src="images/picture3.png"
                alt="background-image"
                />
            </div>
        </div>
    </div>
</div>